<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Medical Analysis Project</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="../css/freelancer.min.css" rel="stylesheet">

</head>
<body>
  <!-- Contact Section -->
  <section id="contact">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Health Survey</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <form action="result" name="Test" method="POST">

                      Gender:<br>
                      <input type="radio" name="Gender" value="Male">Male<br>
                      <input type="radio" name="Gender" value="Female">Female<br>
                      Age: <input type="text" name="Age">
                      <br><br>
                      
                      --------------Red cell distribution width (%): <input type="text" name="Red cell distribution width (%)"><br>
                      -----Red blood cell count (million cells/uL): <input type="text" name="Red blood cell count (million cells/uL)"><br>
                      ----------------------------Hemoglobin (g/dL): <input type="text" name="Hemoglobin (g/dL)"><br>
                      ---------------------------------Hematocrit (%): <input type="text" name="Hematocrit (%)"><br>
                      -------------------------Mean cell volume (fL): <input type="text" name="Mean cell volume (fL)"><br>
                      --------------------Mean cell hemoglobin (pg): <input type="text" name="Mean cell hemoglobin (pg)"><br>
                      -----------------Platelet count (1000 cells/uL): <input type="text" name="Platelet count (1000 cells/uL)"><br>
                      ---------------------Mean platelet volume (fL): <input type="text" name="Mean platelet volume (fL)"><br>
                      ------White blood cell count (1000 cells/uL): <input type="text" name="White blood cell count (1000 cells/uL)"><br>
                      ------------Basophils number (1000 cells/uL): <input type="text" name="Basophils number (1000 cells/uL)"><br>
                      ----------Eosinophils number (1000 cells/uL): <input type="text" name="Eosinophils number (1000 cells/uL)"><br>
                      ------------Monocyte number (1000 cells/uL): <input type="text" name="Monocyte number (1000 cells/uL)"><br>
                      ---------Lymphocyte number (1000 cells/uL): <input type="text" name="Lymphocyte number (1000 cells/uL)"><br>
                      --------------------------Basophils percent (%): <input type="text" name="Basophils percent (%)"><br>
                      ------------------------Eosinophils percent (%): <input type="text" name="Eosinophils percent (%)"><br>
                      -----------Segmented neutrophils percent (%): <input type="text" name="Segmented neutrophils percent (%)"><br>
                      --------------------------Monocyte percent (%): <input type="text" name="Monocyte percent (%)"><br>
                      -----------------------Lymphocyte percent (%): <input type="text" name="Lymphocyte percent (%)"><br>
                      -Segmented neutrophils num (1000 cell/uL): <input type="text" name="Segmented neutrophils num (1000 cell/uL)"><br>
                      ----------------------------Hepatitis A antibody: <select name="Hepatitis A antibody">
                          <option value="True">True</option>
                          <option value="False" selected="selected">False</option>
                      </select><br>
                      -----------------Hepatitis B Surface Antibody: <select name="Hepatitis B Surface Antibody">
                          <option value="True">True</option>
                          <option value="False" selected="selected">False</option>
                      </select><br>
                      ----------------------------Cholesterol (mg/dL): <input type="text" name="Cholesterol (mg/dL)"><br>
                      ---------------------------------Globulin (g/dL): <input type="text" name="Globulin (g/dL)"><br>
                      <br>
                      
                      <input type="submit" value="Submit results">
                      </form>
              </div>
            </div>
            <br>
            <div id="success"></div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
